.infoHidden {
    width: 100%;
    position: fixed;
    z-index: 2;
    text-align: center;
    transition-duration: 400ms;
    bottom: 100%;
    height: 65%;
}

.infoShow {
    width: 100%;
    position: fixed;
    z-index: 2;
    text-align: center;
    transition-duration: 400ms;
    bottom: 35%;
    background-color: aliceblue;
    height:65%;
}
#info{
    color:black;
}


input{
    width: 50px;
}

.label{
    width: 54px;
    text-align: center;
    min-width: 50px;
}

.inputWrapper{
    display: inline-block;

}

iframe{
    width: 100%;
}

html, body{
    margin: 0;
    padding: 0; 
    height:100%;
    overflow-x: hidden;
}
/* header styling */
header{
    background:#406682;
    color:#f1f1f1;
    display:block;
    top:0;
    
    height: 7%;
}
main{
    display: block;
    padding-top: 20px;
    height: 100%;
}
@media only screen and (orientation: landscape){
    header{
        height: 10%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 550px){
    .headerButton{
        width: 100px;
        height: 100px;
        border-radius: 100px; 
    }
    .fa-2x{
        font-size: 4em;

        padding-left: 12px;
        padding-top:15px;
    }
}

/* .content{
    padding:16px;
    padding-top: 100px;
} */
#infoButton{
    
    background: lightblue;
    box-shadow: 2px 3px 2px #183654;
}

.column{
    float:left;
    width: 50%;
    padding-top: 5px;
}
#homeButton{
    background: lightblue;
    box-shadow: 2px 3px 2px #183654;
}
/* .homePage{
    padding-left: 0;
    padding-right:0;
} */
.appOption{
    width:100%;
    height:25%;
    background-color: beige;
    margin-bottom: 15px;
    text-align: center;

    color: black;
    font-family: sans-serif;
    font-size: 30pt;
    line-height: 5;
  
}
.odd{
    background-color:burlywood;
}
.even{
    background-color:bisque;
}

.homePage > a {
    text-decoration: none;
}

.headerbutton{
    /* background: salmon;
    box-shadow: 2px 3px 2px #582727; */
    border-radius: 25px;
    height: 50px;
    width:50px;
}

@media only screen and (min-height: 430px) and (max-width: 500px){
    .headerButton{
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }
}
#homelink, #homelink:active{
    color:white
}
.fa-book-medical{
    padding-left: 10px;
    padding-top: 10px;
} 
.fa-home{
    padding-left: 8px;
    padding-top: 8px;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-baqh{text-align:center;vertical-align:top}

/* START Glasgow Coma Styles */
.selection {
    border: 1px solid black;
    line-height: 25pt;
    margin: 1%;
    padding: 1%;
}

.selection label + input[type="radio"] {
    margin-right: 5px;
    float: right;
    visibility: hidden;
}

.section {
    width: 5%;
    height: 5%;
    text-align: center;
}

.gcTable {
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}

.group {
    width: 100%;
}

.gcOutput {
    font-size: large;
    width: 100%;
    text-align: center;
}

.gcOutput .gcNum {
    line-height: 50pt;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    width: 10%;
}

.gcOutput .gcResult {
    line-height: 50pt;
    vertical-align: middle;
    font-size: medium;
    text-align: center;
    width: 40%;
}
/* END Glasgow Coma Style */
.tg .tg-baqh{text-align:center;vertical-align:top}

.centered {
    margin: 0 auto;
}

.displayBlock {
    display: block;
}

/* START birthWeight Styles */
/*
  .displayTextbox{
    width: 100px;
    padding: 8px;
    margin: 4px 0;
    border: 2px solid #aaa;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: large;
  }
  label{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    align-content: left;
  }
  .displayWrapper {
    width: 40%;
    padding: 13px;
    background-color: burlywood;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 100%;
    border-radius: 10px;
}
h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    text-align: center;
}
*/
